:root {
	/* ------- colors ------- */
	--primary-color: #1f1f20;
	--secondary-color: #2c2c2e;
	--tertiary-color: #4d4d52;
	--quaternary-color: #bbbbbe;
	--link-color: #cd9250;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: 'Raleway', sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
